[submodule "main-frontend"]
	path = main-frontend
	url = https://github.com/tursunboyevofficial/C-transs.git
[submodule "C-transs"]
	path = C-transs
	url = https://github.com/tursunboyevofficial/C-transs.git
